html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(top left, #d2baff 0%, #9a5fe7 40%, #2b0ecc 100%);
}
#root {
  width: 100%;
}
.credits {
  margin-top: 150px;
  color: rgba(255, 255, 255, 0.698);
}
.credits a {
  text-decoration: none;
  font-weight: 700;
  color: grey;
}